
body {
	background: #2E5E79;
	color: #333;
	/* font-size: 11px; */
	padding: 0 0 0px;
}


/* commons
----------------------------------------------- */
.fontwhite{color:#fff;}
.small{font-size:9px;}
.inline-ul li{display:inline; color:#fff;}

/* margin & alinhamento
----------------------------------------------- */
.floatleft{float:left;}
.floatright{float:right;}
.marginleft10{margin-left:10px;}
.margincenter{margin: 0px auto;}
.center{text-align: center}
.left{text-align: left}

/* cores
----------------------------------------------- */
.grey{color:#C2C2C2;}
.orange{color:#FF7A00;}
.red{color:red;}
.green{color:green;}

/* background
----------------------------------------------- */
.backgroundgreen{background: #b8c97b !important;}
.backgroundred{background: #FA946D !important;}
.backgroundorange{background: #FFA654 !important;}


/* heigth
----------------------------------------------- */
.heigth100{min-height: 100px;}

/* width
----------------------------------------------- */
.width10{width: 10px;}
.width150{min-width: 150px;margin-right: 15px;}
.width200{min-width: 200px;margin-left: 15px;margin-bottom: 15px;}
.width250{width: 250px}


/* fotos
----------------------------------------------- */
.foto{width: 128px; height: 128px;overflow: hidden;}

/* anchors
----------------------------------------------- */
a {
	color: #000;
	font-weight:bold;
	text-decoration: none;
}
a:hover {
	color:#333;
}


/* 960 grid system container background
----------------------------------------------- */
.container_12,
.container_16 {
	background:#2E5E79;
}


/* headings
----------------------------------------------- */
h1, h2, h3, h4, h5, h6 {line-height:1.2em; margin-bottom:.3em;}
h2 {margin-top:1em;}

h6 {font-size:1em; text-transform:uppercase;}


h1 a {
	font-weight:normal;
}


/* branding
----------------------------------------------- */
#branding {
	font-weight:normal;
	text-align:left;
	padding:2em 1em 1.6em 1em;
	margin-bottom:0;
}

.header-repeat{background:url(../img/template/header-repeat.jpg) repeat-x;}

#branding a{color:#A1EAFF; font-weight:normal;}
#branding a:hover{color:#fff;}

#branding a:before{content:" | "; color:#fff;}

#branding ul, #branding ul li{margin:0px; padding:0px; }
#branding li{padding:0px 0px 0px 0px !important;}
.top-10{margin-top:-10px;}


/* page heading
----------------------------------------------- */
h2#page-heading {
	font-weight:normal;
	padding:.5em;
	margin:0 0 10px 0;
	border-bottom:1px solid #ccc;
	color:#fff;
}


/* boxes
----------------------------------------------- */
.box {
	background:#fff;
	margin-bottom:20px;
	padding:10px 10px 10px 10px; margin-left:-8px;
}
.box.grid{padding-bottom:40px;}
.box.round{
	  -moz-border-radius: 5px 5px 0px 0px; /* Firefox */
	  -webkit-border-radius: 5px 5px 0px 0px; /* Safari, Chrome */
	  border-radius: 5px 5px 0px 0px; /* CSS3 */
}
	  
.box h2 {
	font-size:1.2em;
	font-weight:bold;
	color:#1B548D;
	background:#E6F0F3;
	margin:-10px -10px 0 -10px;
	padding:10px 12px;
	border-bottom:1px solid #B3CBD6;
	
	 -moz-border-radius: 5px 5px 0px 0px; /* Firefox */
	  -webkit-border-radius: 5px 5px 0px 0px; /* Safari, Chrome */
	  border-radius: 5px 5px 0px 0px; /* CSS3 */
}
.box h2 a,
.box h2 a.visible {
	color:#1B548D;
	background:url("../img/switch_minus.gif") 97% 50% no-repeat;
	display:block;
	padding:6px 12px;
	margin:-6px -12px;
	border:none;
	
	 -moz-border-radius: 5px 5px 0px 0px; /* Firefox */
	  -webkit-border-radius: 5px 5px 0px 0px; /* Safari, Chrome */
	  border-radius: 5px 5px 0px 0px; /* CSS3 */
	
}
.grid_4 .box h2 a {
	background-position: 97% 50%;
}
.grid_5 .box h2 a {
	background-position: 98% 50%;
}
.grid_12 .box h2 a {
	background-position: 99% 50%;
}


.box h2 a.hidden,
.box h2 a.hidden:hover {
	background-image: url("../img/switch_plus.gif");
}
.box h2 a:hover {
	background-color:transparent;
}

.box.first{margin-top:20px;}

.block {
	padding-top:20px;
}
div.menu {
	padding:0;
}
div.menu h2 {
	margin:0;
}
div.menu .block {
	padding-top:0;
}


.breadcrumb > a {
    padding: 5px 10px;
    font-size: 12px;
}


/* sidebar menu
----------------------------------------------- */

.box.sidemenu{ background-color:#D1DEE4; border-right:1px solid #3A5665; padding:0px; margin:0px; cursor:pointer; }
.box.sidemenu .block{padding-top:0px; margin-top:0px;}

/* paragraphs, quotes and lists
----------------------------------------------- */
p {
	margin-bottom:1em;
}
blockquote {
	font-family: Georgia, 'Times New Roman', serif;
	font-size:1.2em;
	padding-left:1em;
	border-left:4px solid #ccc;
}
blockquote cite {
	font-size:.9em;
}
ul, ol {
	padding-top:0;
}


/* menus
----------------------------------------------- */
ul.menu {
	list-style:none;
	border-top:1px solid #bbb;
}
ul.menu li {
	margin:0;
}
ul.menu li a {
	display:block;
	padding:4px 10px;
	border-bottom:1px solid #ccc;
}
ul.menu li a:hover {
	background:#eee;
}
ul.menu li a:active {
	background:#ccc;
}


/* submenus
----------------------------------------------- */
ul.menu ul {
	list-style:none;
	margin:0;
}
ul.menu ul li a {
	padding-left:30px;
}


/* section menus
----------------------------------------------- */
ul.section {
	border-top:0;
	margin-bottom:0;
}
ul.section li {

}
ul.section li a {
	line-height:26px;
}

ul.section li li a {
	background:#ddd;
	border-bottom:1px solid #eee;
}
ul.section li li a:hover {
	background:#ccc;
}
ul.section li li a:active {
	color:#000;
	background:#B3CBD6;
}
ul.section ul li {
	text-transform:none;
}



/** Paging **/
.paging {
	background:#fff;
	color: #ccc;
	margin-top: 1em;
	clear:both;
}
.paging .current,
.paging .disabled,
.paging a {
	text-decoration: none;
	padding: 5px 8px;
	display: inline-block
}
.paging > span {
	display: inline-block;
	border: 1px solid #ccc;
	border-left: 0;
}
.paging > span:hover {
	background: #efefef;
}
.paging .prev {
	border-left: 1px solid #ccc;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}
.paging .next {
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}
.paging .disabled {
	color: #ddd;
}
.paging .disabled:hover {
	background: transparent;
}
.paging .current {
	background: #efefef;
	color: #c73e14;
}

#footer {
	color: #fff;
	background: #204562;
	padding: 10px;
	border-top: 1px solid #1d3b53;
	padding-left: 20px;
}

/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl dd:nth-child(4n+2),
dl dt:nth-child(4n+1) {
	background: #f4f4f4;
}

dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
	width: 10em;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}


/** Forms **/
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
fieldset {
	border: none;
	margin-bottom: 1em;
	padding: 16px 10px;
}
fieldset legend {
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0;
	padding: 10px 0 0;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	/* clear: both; */
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: 'Open Sans', Helvetica Neue, Helvetica, Sans-serif;
	width:98%;
	color: #606060; 
	font-size: 14px;
	padding: 5px 15px;
	border: 1px solid #ccc;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	width: 50px;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 6px 0;
	padding: 0;
	line-height: 26px;
}
.radio label {
	margin: 0 0 6px 20px;
	line-height: 26px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
	width: auto;
}
form .submit input[type=submit] {
	background:#62af56;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
	background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
	background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
	border-color: #2d6324;
	color: #fff;
	text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
	padding: 5px 10px;
}
form .submit input[type=submit]:hover {
	background: #5BA150;
}
/* Form errors */
form .error {
	background: #FFDACC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}
form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
}
form .error,
form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}

/*  Notifications */

.message {
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);

    border: 1px solid #b8c97b;
    background: #e5edc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#e5edc4), to(#d9e4ac));
    background: -moz-linear-gradient(top,  #e5edc4,  #d9e4ac);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5edc4', endColorstr='#d9e4ac');
    color: #3f7227;
    text-shadow: 0 1px 0 #fff;
}

.message h3 {
    margin-top: 0;
}
.message p {
    margin-bottom: 0;
}

.message.error {
    border: 1px solid #eeb7ba;
    background: #fae2e2;
    background: -webkit-gradient(linear, left top, left bottom, from(#fae2e2), to(#f2cacb));
    background: -moz-linear-gradient(top,  #fae2e2,  #f2cacb);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae2e2', endColorstr='#f2cacb');
    color: #be4741;
    text-shadow: 0 1px 0 #fff;
}

.message.success {
    border: 1px solid #b8c97b;
    background: #e5edc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#e5edc4), to(#d9e4ac));
    background: -moz-linear-gradient(top,  #e5edc4,  #d9e4ac);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5edc4', endColorstr='#d9e4ac');
    color: #3f7227;
    text-shadow: 0 1px 0 #fff;
}