.login{
	width: 500px;
	background: #fff;
	padding: 10px 10px 10px 10px;
	box-shadow: 10px 10px 5px #0C3247;
	-webkit-box-shadow: box-shadow: 10px 10px 5px #0C3247;
	-moz-box-shadow: box-shadow: 10px 10px 5px #0C3247;
	border-radius: 10px;
}